#
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    

}

.div1 
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.div1 .left_Side
{
    position: relative;
    background: indigo ;
    padding: 40px;
}
.profileText
{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
border-bottom: 1px solid darkolivegreen;

}
.profileText .Image
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

} 

.profileText h2 

{
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;

}
.profileText h2 span
{
  font-size: 0.8em;
  font-weight: 300;
}
.div1 .left_Side .contactInfo 
{
  color:#fff;
}
.div1 .left_Side .skillInfo 
{
  color:#fff;
}
.div1 .left_Side .langInfo 
{
  color:#fff;
}
.div1 .left_Side .interInfo 
{
  color:#fff;
}


.div1 .right_Side
{
    position: relative;
    background-color: #fff;
    text-align: justify;
    padding: 40px;
}
.edu
{
    margin-bottom: 50px;
}
.edu:last-child
{
    margin-bottom:0 ;
}
.title2
{
    color: midnightblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px ;

}





